*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  a {
    margin: 0 10px;
    text-decoration: none;
  }
}

.card {
  margin-bottom: 20px;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.btn-link {
  text-decoration: none;
}
